/BaigiamasisDarbas/bin/Debug/BaigiamasisDarbas.dll
/BaigiamasisDarbas/bin/Debug/BaigiamasisDarbas.pdb
/BaigiamasisDarbas/bin/Debug/chromedriver.exe
/BaigiamasisDarbas/bin/Debug/geckodriver.exe
/BaigiamasisDarbas/bin/Debug/nunit.engine.api.dll
/BaigiamasisDarbas/bin/Debug/nunit.engine.dll
/BaigiamasisDarbas/bin/Debug/nunit.framework.dll
/BaigiamasisDarbas/bin/Debug/nunit.framework.pdb
/BaigiamasisDarbas/bin/Debug/nunit.framework.xml
/BaigiamasisDarbas/bin/Debug/nunit_random_seed.tmp
/BaigiamasisDarbas/bin/Debug/NUnit3.TestAdapter.dll
/BaigiamasisDarbas/bin/Debug/NUnit3.TestAdapter.pdb
/BaigiamasisDarbas/bin/Debug/WebDriver.dll
/BaigiamasisDarbas/bin/Debug/WebDriver.Support.dll
/BaigiamasisDarbas/bin/Debug/WebDriver.Support.xml
/BaigiamasisDarbas/bin/Debug/WebDriver.xml
/BaigiamasisDarbas/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.csproj.CopyComplete
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.csproj.CoreCompileInputs.cache
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.csproj.FileListAbsolute.txt
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.csprojAssemblyReference.cache
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.dll
/BaigiamasisDarbas/obj/Debug/BaigiamasisDarbas.pdb
/BaigiamasisDarbas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BaigiamasisDarbas/screenshots/PirmasTestas_20-17.png
/BaigiamasisDarbas/screenshots/PirmasTestas_20-42.png
/BaigiamasisDarbas/screenshots/PirmasTestas_20-45.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-01.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-02.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-28.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-29.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-41.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-58.png
/BaigiamasisDarbas/screenshots/PirmasTestas_21-59.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-00.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-07.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-14.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-23.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-27.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-32.png
/BaigiamasisDarbas/screenshots/PirmasTestas_22-51.png
/BaigiamasisDarbas/screenshots/PirmasTestas_23-06.png
/packages/NUnit.3.12.0/.signature.p7s
/packages/NUnit.3.12.0/build/NUnit.props
/packages/NUnit.3.12.0/CHANGES.md
/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.12.0/LICENSE.txt
/packages/NUnit.3.12.0/NOTICES.txt
/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
/packages/NUnit3TestAdapter.3.16.1/.signature.p7s
/packages/NUnit3TestAdapter.3.16.1/build/net35/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.16.1/build/net35/nunit.engine.dll
/packages/NUnit3TestAdapter.3.16.1/build/net35/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.16.1/build/net35/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.16.1/build/net35/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.16.1/build/netcoreapp2.1/nunit.engine.api.dll
/packages/NUnit3TestAdapter.3.16.1/build/netcoreapp2.1/nunit.engine.dll
/packages/NUnit3TestAdapter.3.16.1/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/packages/NUnit3TestAdapter.3.16.1/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/packages/NUnit3TestAdapter.3.16.1/build/netcoreapp2.1/NUnit3TestAdapter.props
/packages/NUnit3TestAdapter.3.16.1/LICENSE.txt
/packages/NUnit3TestAdapter.3.16.1/NUnit3TestAdapter.3.16.1.nupkg
/packages/Selenium.Firefox.WebDriver.0.26.0/.signature.p7s
/packages/Selenium.Firefox.WebDriver.0.26.0/build/Selenium.Firefox.WebDriver.targets
/packages/Selenium.Firefox.WebDriver.0.26.0/driver/geckodriver.exe
/packages/Selenium.Firefox.WebDriver.0.26.0/Selenium.Firefox.WebDriver.0.26.0.nupkg
/packages/Selenium.Support.3.141.0/.signature.p7s
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
/packages/Selenium.WebDriver.3.141.0/.signature.p7s
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/.signature.p7s
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/build/Selenium.WebDriver.ChromeDriver.targets
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/driver/linux64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/driver/mac64/chromedriver
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/driver/win32/chromedriver.exe
/packages/Selenium.WebDriver.ChromeDriver.83.0.4103.3900/Selenium.WebDriver.ChromeDriver.83.0.4103.3900.nupkg
/.vs/BaigiamasisDarbas/v16/.suo
/.vs/BaigiamasisDarbas/v16/TestStore/0/000.testlog
/.vs/BaigiamasisDarbas/v16/TestStore/0/testlog.manifest
